/* STYLE PÁGINA PRETADOR DE SERVIÇO */
.pg-prestadorServico{}
	.pg-prestadorServico:before{
		content: "";
		display: block;
		background: #EDECE7;
		width: 100%;
		height: 141px;
		margin-bottom: 60px;
	}
	.pg-prestadorServico section.prestadorServico{}
		.pg-prestadorServico section.prestadorServico h1{
			text-align: center;
		}
		.pg-prestadorServico section.prestadorServico>h1 ~ p{
			max-width: 100%;
			text-align: center;
		    font-size: 14px;
		}
		.pg-prestadorServico section.prestadorServico hr{
			display: block;
			max-width: 1034px;
			width: 100%;
			margin: 35px auto 0;
		    border-top: 1px solid #bdbdbd;
		}
		.pg-prestadorServico section.prestadorServico span{
			color: var(--azulPrincipal);
			text-align: center;
			display: block;
		    margin: 40px 0;
		}
	
		.pg-prestadorServico section.areaBeneficios{
			width: 100%;
			max-width: 847px;
		    margin: 50px auto;
		}
			.pg-prestadorServico section.areaBeneficios .areaSelecao{
				border-right:solid rgba(0, 0, 0, 0.6) 2px; 
				max-width: 390px;

			}
				.pg-prestadorServico section.areaBeneficios .areaSelecao h3{
					color: var(--azulPrincipal);
				    padding-top: 20px;
			        margin-bottom: 40px;
				}
				.pg-prestadorServico section.areaBeneficios .areaSelecao ul{
					padding:0;
					list-style: 0;
					margin:0;
				}
					.pg-prestadorServico section.areaBeneficios .areaSelecao ul li{
						display: block;
					}
						.pg-prestadorServico section.areaBeneficios .areaSelecao ul li button{
							border: none;
							background: transparent;
							font-family:var(--openSans);
							font-style: normal;
							font-weight: bold;
							font-size:var(--fontSizePrincipal);
							line-height: 19px;
							color: rgba(0, 0, 0, 0.6);
							mix-blend-mode: normal;
							display: block;
							width: 100%;
							max-width: 326px;
							text-align: left;
							outline: none;
							border-radius: 4px;
							padding: 13px 20px;
							margin-bottom:5px;
						}
							.pg-prestadorServico section.areaBeneficios .areaSelecao ul li button.ativo{
								background: #FFA000;
								box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
								color: #fff;
							}
							.pg-prestadorServico section.areaBeneficios .areaSelecao ul li button:hover{
								background: #FFA000;
								box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
								color: #fff;
							}
			.pg-prestadorServico section.areaBeneficios article{
				max-width: 408px;
				margin:0 auto;
			    padding-top: 77px;
			    display: none;

			}
				.pg-prestadorServico section.areaBeneficios article.ativo{
				    display: block;
				    
				}
				.pg-prestadorServico section.areaBeneficios article h2{
					font-family:var(--openSans);
					font-style: normal;
					font-weight: bold;
					font-size: 16px;
					line-height: 22px;
					color: #000000;
					opacity: 0.6;
					display: block;
					margin-bottom: 40px;
				}
				.pg-prestadorServico section.areaBeneficios article p{
					font-family:var(--openSans);
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 22px;
					color: #000000;
					opacity: 0.6;
				}
@media(max-width: 991px){
	.pg-prestadorServico section.prestadorServico h1{
		font-size: 40px;
		line-height: 40px;
	}
}
@media(max-width: 768px){
	.pg-prestadorServico section.areaBeneficios .areaSelecao{
		border: none;

	}
}
@media(max-width: 620px){
	.pg-prestadorServico section.prestadorServico h1{
		font-size: 30px;
		line-height: 30px;
	}
	.pg-prestadorServico section.prestadorServico>h1 ~ p {
	    line-height: 20px;
	}
	section.prestadorServico div.formulario{
	    padding: 10px;
	}
	.pg-prestadorServico section.areaBeneficios article{
		padding-top: 10px;
	}

}