/* STYLE PÁGINA SOBRE */
.pg-quemSomos{

}
	

	.pg-quemSomos section.quemSomos{
	    padding-top: 80px;
	}
		.pg-quemSomos section.quemSomos article{
			max-width: 493px;
			margin:0 auto;	
		}
			.pg-quemSomos section.quemSomos article h6{
			    margin-bottom: 35px;
			}	
			.pg-quemSomos section.quemSomos article p{
			
			}	
		
		.pg-quemSomos section.quemSomos .valores{
			
		}	
			.pg-quemSomos section.quemSomos .valores ul{
				padding: 0;
				list-style: none;
			    padding-top: 70px;
			}	
				.pg-quemSomos section.quemSomos .valores ul li{
					background: #F7F7F7;
					min-height: 160px;
			        padding: 10px 20px 10px 58px;
					margin-bottom: 28px;
				}	
					.pg-quemSomos section.quemSomos .valores ul li h3{
					  	font-family:var(--ptSansCaption);
						font-style: normal;
						font-weight: bold;
						font-size: 20px;
						line-height: 40px;/* identical to box height, or 200% */
						color: #000;
						position: relative;
					}
						.pg-quemSomos section.quemSomos .valores ul li h3:before{
							content: "";
							display: block;
							width: 7px;
							height: 7px;
							background: #FFA000;
							border-radius: 38px;
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-o-transform: translateY(-50%);
						    left: -30px;
						}
					.pg-quemSomos section.quemSomos .valores ul li p{
						font-family: var(--openSans);
						font-style: normal;
						font-weight: normal;
						 font-size:var(--fontSizePrincipal);
						line-height: 30px;/* or 214% */
						color: #000;
						mix-blend-mode: normal;
						opacity: 0.6;
					}
		.pg-quemSomos section.comoFUnciona{
			background: var(--pretoPrincipal);
			min-height: 713px;
			margin-top: -67px;
			
		}	
			.pg-quemSomos section.comoFUnciona .containerLarge{
				position: relative;
			    padding-top: 240px;
			}
				.pg-quemSomos section.comoFUnciona figure{
					position: absolute;
					top: -45%;
				}
					.pg-quemSomos section.comoFUnciona figure img{
					    max-width: 500px;
					}
					.pg-quemSomos section.comoFUnciona figure figcaption{
						
					}	
				.pg-quemSomos section.comoFUnciona .areaTexto{
					max-width: 574px;
				    padding-top: 40px;
				}
					.pg-quemSomos section.comoFUnciona .areaTexto h6{
						color: #fff;
						font-size: 60px;
					    margin-bottom: 30px;
					}
					.pg-quemSomos section.comoFUnciona .areaTexto p{
						color: #fff;
						font-size: 20px;
					    margin-bottom: 60px;
					}
				.pg-quemSomos section.comoFUnciona .areaVideo{
					display: block;
					width:100%;
					max-width: 569px;
					height: 386px;
					overflow: hidden;
					box-shadow: 0px 20px 58px rgba(0, 0, 0, 0.100989);
					position: relative;
					margin: auto;
				}
					.pg-quemSomos section.comoFUnciona .areaVideo button{
						background: transparent;
						border: none;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						-webkit-transform:translate(-50%, -50%);
						-moz-transform:translate(-50%, -50%);
						-o-transform:translate(-50%, -50%);	
						z-index: 9;
						outline: none;
					}
						.pg-quemSomos section.comoFUnciona .areaVideo button img{

						}
					.pg-quemSomos section.comoFUnciona .areaVideo video{
						top: 0;
						left: 0;
						width: 100%;
						height: 110%;
						object-fit: cover;
					}
				.pg-quemSomos section.comoFUnciona .btnLink a {
				    padding: 16px 14px;
				    font-size: 14px;
				}
@media(max-width: 991px){
	.pg-quemSomos section.comoFUnciona figure img{
		max-width: 360px;
		display: block;
		width: 100%;
	}
	.pg-quemSomos section.comoFUnciona .containerLarge{
		padding-top: 130px;
	}
	.pg-quemSomos section.comoFUnciona .areaTexto h6{
		font-size: 40px;
	}
}

@media(max-width: 768px){
	.pg section.bannerDestaqueInternas article h6{
		font-size: 30px;
		line-height: 30px;
	}
	.pg-quemSomos section.comoFUnciona figure {
	    position: inherit;
	    top: 0;
	    text-align: center;
	}
	.pg-quemSomos section.comoFUnciona .areaTexto {
		text-align: center;
		max-width: 100%;
	}
	.pg-quemSomos section.comoFUnciona .areaVideo {
	    margin: 50px auto;
	}
	.pg-quemSomos section.comoFUnciona .areaTexto h6 {
	    font-size: 35px;
	}
}

