body{
	font-family: 'Open Sans', sans-serif;
}

#wpadminbar {
  display: none;
}
ul{
	padding: 0;
	list-style: none;
	margin:0;
}
h2{
	margin:0;
}

header.cabecalho{
	background: #000;
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
}
	header.cabecalho{
    	padding: 15px 10px;
	}
		header.cabecalho figure.logo{
		
		}
			header.cabecalho figure.logo img{
				max-width: 250px;
				display: block;
				width: 100%;
				
			}
		header.cabecalho .areaPesquisa{
			position: relative;
		    margin-top: 12px;
		}
			header.cabecalho .areaPesquisa:before{
				content: "";
				display: block;
				background: url(img/pesquisa.svg);
				width: 30px;
				height: 30px;
				background-size: cover!important;
				position: absolute;
				right: 10px;
				top: 5px;
			}
			header.cabecalho input[type="text"]{
				display: block;
				width: 100%;
				height: 40px;
				border-radius: 5px;
				border: none;
				padding: 10px;
				outline: none;
			}
			header.cabecalho input[type="submit"]{
				position:absolute;
				right: 0;
				top: 0;
				height: 100%;
				display: block;
				outline: none;
				opacity: 0;
			}
	header.cabecalho .menuUser{
		max-width: 267px;
		display: block;
		margin: 0 auto;
		text-align: center;
		padding-top: 10px;
	}
		header.cabecalho .menuUser .userOption{
			margin-top: 12px;
		}
			header.cabecalho .menuUser .userOption span{
				background: #fff;
				padding: 10px;
				border-radius: 54px;
			}
				header.cabecalho .menuUser .userOption span strong{

				}
			
			header.cabecalho .menuUser .menuOpition{
				position: relative;
				display: none;
				width: 100%;
				z-index: 9;
			}
				header.cabecalho .menuUser .col-xs-4:hover .menuOpition{
					display: block;
				}
				header.cabecalho .menuUser .menuOpition ul{
					list-style: none;
					padding: 0;
					margin:0;
					position: absolute;
					background: white;
					text-align: left;
					top: 1px;
					border-radius: 5px;
					left: 0;
					box-shadow: 0px 20px 58px rgba(0, 0, 0, 0.100989);
				    min-width: 120px;
				}
					header.cabecalho .menuUser .menuOpition ul li{

					}
					header.cabecalho .menuUser .menuOpition ul li a{
						display: block;
						padding: 5px 10px;
						color: #000;
					}
			header.cabecalho figure{

			}
				header.cabecalho figure img{
					display: block;
					width: 100%;
					max-width: 40px;
					margin:0 auto;
				}
				header.cabecalho .menuUser figure img{
					display: block;
					width: 100%;
					max-width: 50px;
					margin: 0 auto;
					height: 50px;
					border-radius: 100%;
				}
.pg-adminInicial{
	padding-top: 60px;
}

	.pg-adminInicial ul{
		padding:0;
		list-style: none;
		text-align: center;
		padding-top:50px;
	}
		.pg-adminInicial ul li{
			display: inline-block;
			margin: 0 16px 20px;
			padding: 10px;
			width: 23%;
			background: #fff;
			text-align: center;
			height: 190px;
			border-radius: 5px;
			box-shadow: 0px 20px 58px rgba(0, 0, 0, 0.100989);
			position: relative;
			vertical-align: top;
		}
			.pg-adminInicial ul li a{
				display: block;
				width: 100%;
				height: 100%;
				padding-top: 25px;
				color: #867e88;
				font-weight: 700;
				font-size: 16px;
				text-decoration: none;
			}
				.pg-adminInicial ul li a img{
					display: block;
					width: 100%;
					max-width: 100px;
					margin:0 auto;
				}
	
	.pg-clientes{

	}
		.pg-clientes aside{

		}
			.pg-clientes aside h2{
				padding: 20px 0 10px;
			}	
				.pg-clientes aside strong{

				}
				.pg-clientes aside ul{
					margin-top: 15px;
					max-width: 220px;
				}
					.pg-clientes aside ul li{

					}
						.pg-clientes aside ul li a{
							color: black;
							margin-bottom: 0px;
							display: block;
							font-size: 16px;
							padding: 5px;
							border-radius: 5px;
						}
							.pg-clientes aside ul li a:hover{
								background: #000;
								color: #fff;
							}
		.pg-clientes .listaClientes{
			padding-top: 20px;
		}
			.pg-clientes .listaClientes>h2{
				text-align: center;
				margin-bottom: 20px;
			}
			.pg-clientes .listaClientes ul{

			}
				.pg-clientes .listaClientes ul li{
					position: relative;
					display: block;
					width: 100%;
					background: #f7f7f7;
					padding: 10px 15px;
					border: solid 1px #ccc;
					border-radius: 5px;
					padding-bottom: 5px;
				}
					.pg-clientes .listaClientes ul li a{
						text-decoration: none;
						display: block;
						width: 100%;
						height: 100%;
					}
						.pg-clientes .listaClientes ul li a figure{
							display: inline-block;
							vertical-align: middle;
							padding: 0 10px;
							height: 40px;
							padding-top: 5px;					
						}
							.pg-clientes .listaClientes ul li a figure img{
								display: block;
								max-width: 97px;
							}
						.pg-clientes .listaClientes ul li a h2{
							text-transform: uppercase;
							color: #868686;
							font-weight: 500;
							font-size: 22px;
							display: inline-block;
						}
						.pg-clientes .listaClientes ul li a span{
							float: right;
							padding: 8px 15px;
							background: black;
							position: relative;
							top: -2px;
							border-radius: 22px;
							color: #fff;
							text-transform: uppercase;
							font-weight: 700;
							font-size: 11px;
						}	
.pg{
	padding-top: 80px;
}
.containerFull{
	width: 100%;
	margin: 0 auto;
	max-width: 1400px;
}
.paddingCorrecao{
	padding: 10px;
}
.borderCorrecao{

}
.pg-cliente{


}
	.pg-cliente .areaTexto{
		background: #f1f1f1;
		padding: 20px;
		border: solid #ccc;
		border-radius: 5px;
		
	}
		.pg-cliente .areaTexto h2{

			
		}
		.pg-cliente .areaTexto>img{

			
		}
	.pg-cliente .areaInfos{

		
	}
		.pg-cliente .areaInfos ul{

			
		}
			.pg-cliente .areaInfos ul li{
				border: solid 1px #ccc;
				margin-bottom: 20px;
			
			}
				.pg-cliente .areaInfos ul li .row{
					padding: 10px;
				
				}
				.pg-cliente .areaInfos ul li>strong{
					background: #000;
					color: #fff;
					text-align: center;
					display: block;
					width: 100%;
					padding: 10px;
					font-size: 15px;
					text-transform: uppercase;
			
				}
				.pg-cliente .areaInfos ul li span{
					font-weight: bold;
			
				}
		.pg-cliente .areaCanais{
			border-bottom: solid #ccc 1px;
			border-top: solid 1px #ccc;
	
		}
		.pg-cliente .areaCanais:last-child {
			border-bottom: none;
	
	
		}
		.pg-cliente .areaCanais:first-child {
			border-top: none;
	
		}
			.pg-cliente .areaCanais p.tituloCanais{
				text-align: center;
				font-size: 17px;
				font-weight: 600;
	
			}
			.pg-cliente .areaCanais button{
				background: transparent;
				border: none;
			}
			.pg-cliente .areaCanais button:after{
				display: block;
				content: attr(valorCampo);
				text-align: left;
				font-size: 10px;
				color: #807d7d;
				text-decoration: underline;
			}
.pg.pg-form{
	margin-top:100px; 
 }
	 .pg.pg-form h2{
		color: #000;
		text-align: center;
		font-size: 33px;
		padding-bottom: 30px;
	 }
	.pg.pg-form .areaFormulario{
		max-width: 1200px;
		margin: 0 auto;
		background: #fff;
		padding: 30px 20px 100px 20px;
		border: 1px solid #ececec;
	}
		.pg.pg-form .sombra{
			box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
			padding: 20px;
			max-width: 1000px;
			margin: 0 auto;
			margin-bottom: 40px;
		}
			.pg.pg-form section .areaForm{

			}

			.pg.pg-form section .areaForm label{
				position: relative;
				font-family: 'Source Serif Pro', serif;

			    
			}
			.pg.pg-form section .areaForm label[for="uploadArquivo"]{
				border: 3px solid #fff;
				background: #f6f6f6;
			    color: #757575;
			    display: block;
			    width: 100%;
			    height: 66px;
			    outline:none;
			    padding: 10px;
			    margin:10px auto;
			    text-align: center;
			    line-height: 40px;
			    cursor: pointer;
			}
			.pg.pg-form section .areaForm label[for="uploadArquivo"]:hover{
				border: 3px solid #000;
			}
			.pg.pg-form section .areaForm input[type="text"]{
				border: 3px solid #fff;
				font-size: 21px;
				background: #f6f6f6;
			    color: #000;
			    display: block;
			    width: 100%;
			    height: 66px;
			    outline:none;
			    padding: 10px;
			    margin:10px auto;
			    font-family: 'Source Serif Pro', serif;
			}
			.pg.pg-form section .areaForm input[type="number"]{
				border: 3px solid #fff;
				font-size: 21px;
				background: #f6f6f6;
			    color: #000;
			    display: block;
			    width: 100%;
			    height: 66px;
			    outline:none;
			    padding: 10px;
			    margin:10px auto;
			    font-family: 'Source Serif Pro', serif;
			}
			.pg.pg-form section .areaForm input[type="date"]{
				border: 3px solid #fff;
				font-size: 21px;
				background: #f6f6f6;
			    color: #000;
			    display: block;
			    width: 100%;
			    height: 66px;
			    outline:none;
			    padding: 10px;
			    margin:10px auto;
			    font-family: 'Source Serif Pro', serif;
			}
			.pg.pg-form section .areaForm input[type="tel"]{
				border: 3px solid #fff;
				font-size: 21px;
				background: #f6f6f6;
			    color: #000;
			    display: block;
			    width: 100%;
			    height: 66px;
			    outline:none;
			    padding: 10px;
			    margin:10px auto;
			    font-family: 'Source Serif Pro', serif;
			}

			.pg.pg-form section .areaForm select{
				border: 3px solid #fff;
				font-size: 21px;
				background: #f6f6f6;
			    color: #000;
			    display: block;
			    width: 100%;
			    height: 66px;
			    outline:none;
			    padding: 10px;
			    margin:10px auto;
			    font-family: 'Source Serif Pro', serif;
			}
			.pg.pg-form section .areaForm input[type="email"]{
				border: 3px solid #fff;
				font-size: 21px;
				background: #f6f6f6;
			    color: #000;
			    display: block;
			    width: 90%;
			    height: 66px;
			    outline:none;
			    padding: 10px;
			    margin:10px auto;
			    font-family: 'Source Serif Pro', serif;
			}
			/*.pg.pg-form section .areaForm input[type="tel"]{
				border: 3px solid #fff;
				font-size: 21px;
				background: #f6f6f6;
			    color: #000;
			    display: block;
			    width: 90%;
			    height: 66px;
			    outline:none;
			    padding: 10px;
			    margin:10px auto;
			    font-family: 'Source Serif Pro', serif;
			}*/
			.pg.pg-form section .areaForm input:focus{
				border: 3px solid #000;
			}
			.pg.pg-form section .areaForm select:focus{
				border: 3px solid #000;
			}
			.pg.pg-form section .areaForm input[type="radio"]{
				width: 20px;
				height: 20px;
			}
			.pg.pg-form section .areaForm .sexo{
				margin: 0 auto;
			}
				.pg.pg-form section .areaForm .sexo input[type="radio"]{
					/* width: 100%; */
					/* height: 100%; */
					/* position: absolute; */
					/* opacity: 0; */
					vertical-align: bottom;
				}
				.pg.pg-form section .areaForm .sexo label{
					padding-right: 27px;
				}
				.pg.pg-form section .areaForm .sexo .fa-check-square{
					display: none;
				}
				.pg.pg-form section .areaForm input[type="radio"]:checked ~ .fa-check-square{
					display: block;
				}
				.pg.pg-form section .areaForm .sexo i{
					font-size: 22px;
					position: absolute;
					right: 0;
					top:0;
				}
		.pg.pg-form section .areaForm input[type="file"]{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			outline: none;
			opacity: 0;
			cursor: pointer;
		}
		.pg.pg-form  input[type="submit"]{
			display: block;
			background: transparent;
			border: none;
			background: #000;
			color: #fff;
			padding: 16px 55px;
			font-size: 19px;
		}
/*EXTRAS*/
	.camposBlockHidden{
		display: none;
	}
	.camposTransportHidden{
		display: none;
	}
	.aviso{
		color: red;
		font-weight: 600;
		display: block;
		padding: 10px 0;
	}
.page-lispost{

}
	.page-lispost h2{

	}
	.page-lispost ul{

	}	
		.page-lispost ul li{

		}	
			.page-lispost ul li span{ 

			}	
			.page-lispost ul li strong{ 

			}
			.page-lispost ul li h3{ 

			}
			.page-lispost ul li p{ 

			}
			.page-lispost ul li figure{ 

			}
				.page-lispost ul li figure img{ 

				}